@media only screen and (min-width: 600px) {
	
	aside, 
	/* body:before */
	{
		font-size: 72%;
		
	}
}

@media only screen and (min-width: 600px) {
	
	aside,
	/* body:before */
	{
		font-size: 80%;
	}
}

@media only screen and (min-width: 800px) {
	aside,
	/* body:before */
	{
		font-size: 86%;
	}
}

@media only screen and (min-width: 1200px) {
	aside,
	/* body:before */
	{
		font-size: 105%;
	}
}

@media only screen and (min-width: 800px) {
	
	aside #menu {
		display: none;
	}
	
	aside div.wrapper {
		transition: all 300ms;
		display: inline-block;
	}
	
	aside div.wrapper div.design-selection,
	aside div.wrapper div.design-archives,
	aside div.wrapper div.zen-resources
	{
		transition: all 300ms;
	}
	
	aside h3,
	/* body:before, */
	aside div.wrapper div.design-selection a,
	aside div.wrapper div.design-archives a,
	aside div.wrapper div.zen-resources a
	{
		padding:1em;
		margin: 0 1px 0 0;
	}
	
	aside div.wrapper div.design-selection ul,
	aside div.wrapper div.design-archives ul,
	aside div.wrapper div.zen-resources ul
	{
		position: absolute;
		top: 100%;
		left: 0;
		transition: 300ms all;
	}
	
	/* für DEBUG: Menüs immer ausgeklappt */
	xaside div.wrapper div.design-selection > ul,
	xaside div.wrapper div.design-archives > ul,
	xaside div.wrapper div.zen-resources > ul
	{
		max-height: 700px !important;
	}

	aside div.wrapper div.design-selection:hover  ul,
	aside div.wrapper div.design-archives:hover  ul,
	aside div.wrapper div.zen-resources:hover  ul
	{
		max-height: 700px;
	}
	
	aside div.wrapper div.design-selection ul li,
	aside div.wrapper div.design-archives ul li,
	aside div.wrapper div.zen-resources ul li
	{
		border-bottom: 1px solid black; /* #8c1e31; */
	}
}

@media only screen and (max-width: 800px) {
	
	aside:before {
		content: "Menü";
		padding: 1em 5% 1em 5%;
		float: left;
		width: 90%;
		text-align: center;
		color: #f41edd;
		cursor: pointer;
		font-weight: 300;
		xtransition: all 5000ms;
		font-family: 'Roboto', sans-serif;
		display: block;
	}
	
	aside div.wrapper {
		width: 100%;
		max-height: 0;
		transition: all 500ms;
		overflow: hidden;
		float: left;
		display: block;
	}
	
	aside:hover > div.wrapper {
		max-height: 800px;
	}
	
	aside div.wrapper div.design-selection,
	aside div.wrapper div.design-archives,
	aside div.wrapper div.zen-resources
	{
		width: 100% ;
	}
	
	aside h3,
	/* body:before, */
	aside div.wrapper div.design-selection a,
	aside div.wrapper div.design-archives a,
	aside div.wrapper div.zen-resources a
	{
		padding: 1em 5% 1em 5%;
		width: 90%;
		margin: 0;
	}
	
	aside div.wrapper div.design-selection ul,
	aside div.wrapper div.design-archives ul,
	aside div.wrapper div.zen-resources ul
	{
		transition: all 1000ms;
		transition-delay: 300ms;
		float: left;
		
		position: relative;
		top: 0;
	}
	
	aside div.wrapper div.design-selection:hover ul,
	aside div.wrapper div.design-archives:hover ul,
	aside div.wrapper div.zen-resources:hover ul
	{
		transition: all 500ms;
		max-height: 500px;
	}
	
	aside div.wrapper div.design-selection ul li,
	aside div.wrapper div.design-archives ul li,
	aside div.wrapper div.zen-resources ul li
	{
		display: block;
		float: left;
		background: #8c1e31;
		transition: all 500ms;
		width:100%; 
		
		border-bottom: 0;
	}
	
	aside div.wrapper div.design-selection ul li a,
	aside div.wrapper div.design-archives ul li a,
	aside div.wrapper div.zen-resources ul li a
	{
		background: #8c1e31;
	}    
}

aside {
	color: #c8354e;
	display: block;
	position: fixed;
	z-index: 100;
	top: 0;
	width:100%;
	background-color:#8c1e31;
}

aside div.wrapper {
	margin: 0;
	padding: 0;
}

aside div.wrapper div.design-selection,
aside div.wrapper div.design-archives,
aside div.wrapper div.zen-resources
{
	float: left;
	position: relative;
}

aside div.wrapper div.design-selection a{
	min-width:14em;
}


aside div.wrapper div.design-archives a,
aside div.wrapper div.zen-resources a {
	min-width: 15.5em;
}

aside h3,
/* body:before, */
aside div.wrapper div.design-selection a,
aside div.wrapper div.design-archives a,
aside div.wrapper div.zen-resources a
{
	display: inline-block;
	text-decoration: none;
	background: #c8345e;
	font-weight: 300;
	transition: all 300ms;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	
}

aside h3{
	font-size:1.25em;
	min-width: 12em;
}

aside h3,
/* body:before, */
aside div.wrapper div.design-selection:hover > a,
aside div.wrapper div.design-archives:hover > a,
aside div.wrapper div.zen-resources:hover > a
{
	background: #8c1e31;
}

aside div.wrapper div.design-selection ul{
	white-space:nowrap;
}


aside div.wrapper div.design-archives ul,
aside div.wrapper div.zen-resources ul{
	width: 100%;
}



aside div.wrapper div.design-selection ul,
aside div.wrapper div.design-archives ul,
aside div.wrapper div.zen-resources ul
{
	
	overflow-y:hidden;
	max-height: 0;
	margin: 0;
	padding: 0;
}

body:before {
	content:"\00a0";
	width: 10px;
	height: 10px;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 9999;
	background-color: cyan;
}
