body{
  margin:0;
}

section{
	background-color:#7b076c;
	border-bottom:4px solid black;
	overflow:hidden;
	height: 480px;
/*   position:relative;
  z-index: 2; */
}

.summary a{
	font-size:1.8em;
	font-family:verdana;
	
}

/* section.intro:after{
  content:"";
  clear:both;
} */
/* 
header{
  position:fixed;
  top:0px;
}

header *{
  position:relative;
  z-index:3; /*größer als header before und größer als Header after
} */

header {
	background: url(../bilder/pic05.jpg)no-repeat center center fixed;
  background-repeat:no-repeat;
  background-size:cover;
	height: 480px;
  z-index:1;
}

header:after{
  background-image:url(../bilder/schallplatte.png);/*breite500px höhe 484px*/
  width:500px;
  height:484px;
  position: fixed; 
  content:"";
  left:50%;
  top: 242px;    /*anzeigehöhe header background image(pic05.jpg 480-die halbe Bildgröße dieses Bildes ( Schallplatte.png)*/
  margin-left: -250px; /*halbe Bildbreite*/
	z-index:1;
	;
	
}

.page-wrapper{
	background-color: yellow;
	position:relative;
	
}

#zen-intro{
  z-index:20;
}

aside.sidebar{
	z-index:100;
	position:fixed;
	top:0;
	height:70px;
	background: #f4a2f1;
	border-top: 5px solid #edf6ff;
	display: inline-block;
	width: 100%;
	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;


} 

section article{
	xbackground-color:rgba(85, 107, 103, 0.8);
	width:30%;

}

.preamble{
	xbackground-color:red;
	z-index:60;
	position:absolute;
	top:484px;
	left:15%;
	float:left;
}

article#zen-preamble p{
	font-size:20px;
	color:#690872;
}
article#zen-preamble h3{
  font-size:3em;
	color:#690872;
}




h1{
  font-size:70px;

	text-align:center;
	margin-top:80;
	padding-top:50px;
	color: #A7DD3C;
	Color: #FFFFFF;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

}

h2{
	font-size:30px;
	margin-top: -50px;
	color:red;
	text-align:center;
	color: #fff;
	text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #f4e36b, 0 0 30px #f4e36b, 0 0 40px #f4e36b, 0 0 55px #f4e36b, 0 0 75px #f4e36b
}

.summary{
  float:right;
	z-index:100;
	position:absolute;
	top:284px;
	right:20px;
	-webkit-border-radius: 28px 13px 12px 21px;
	-moz-border-radius: 28px 13px 12px 21px;
	border-radius: 28px 13px 12px 21px;
	border: 3px dashed #9436A4;
-moz-transform: scale(0.8) skew(0deg, 3deg);
-webkit-transform: scale(0.8) skew(0deg, 3deg);
-o-transform: scale(0.8) skew(0deg, 3deg);
-ms-transform: scale(0.8) skew(0deg, 3deg);
transform: scale(0.8) skew(0deg, 3deg);
}

article#zen-summary{
	background-color:#f7d757;
	padding:5px;
}



.requirements{
  clear:right;
  background-color:red;
  width:400px;
}

h3{
  margin:0px;
}

#zen-supporting{
  xtop: 480px;
  position:relative;
  overflow:auto;
  background-color:rgba(255, 255, 255, 0.8);
  z-index:40;

} 
 #zen-explanation{
  width:35%;
  color:red;
	xfloat:right;
	margin-right:15%;
	position:relative;
	left:50%;
 }
 

	 
	 
	article#zen-explanation p{
  font-size:20px;
	color:#690872;
}
	
article#zen-explanation h3{
  font-size:3em;
	color:#690872;
}


 #zen-participation{
	 width:75%;
	 position:relative;
	 left:15%;
	background-color:#c3cac5;
	position:relative;
	top:120px;

	 }

article#zen-participation h3{
  font-size:3em;
	color:#690872;

	
}

article#zen-participation p{
  font-size:20px;
	color:#690872;
}
article#zen-benefits{
	background-color:#6a2370;
	position:relative;
	top:150px;
	xopacity:0.5;


}

article#zen-benefits h3{
	font-size:3.5em;
	position:relative;
	left:15%;
	font-family:Verdana;
	color:#e236f1;
	text-decoration: underline;
	padding-top:20px;
	width:50%;
}

article#zen-benefits p{
	color:white;
	font-family: verdana;

	width:30%;
	font-size:1.2em;
	position:relative;
	left:15%;
	text-align:justify;
}

.benefits:before{
	content: url(../bilder/song.png);
	right:17%;
	position:relative;
	float:right;
	top:30px

	}
	
#zen-requirements{
	width:40%;
	background-image:url(../bilder/song.png);
	background-color:rgba(255, 255, 255, 0.4);
	box-shadow: 5px 5px 40px #615f61;
	position:relative;
	right:15%;
	margin-top:200px;
	float:right;
}
#zen-requirements:before{
	content: url(../bilder/concert.png) 
	url(../bilder/concert1.png) 
	url(../bilder/concert2.png);
	position:absolute;
	overflow:hidden;
	left:-70%;
	width:50%;
	
}


#zen-requirements h3{
	text-decoration: underline;
	font-size:3.5em;
	top:10px;
	background-color:white;
	color:#5f0460;

}

#zen-requirements p{
	font-size:1.5em;
	top:10px;
	background-color:white;
	color:black;
	padding:15px;

}

/* aricle#zen-requirements. P .col  {
   margin-top: 1.8ex;
   column-count: 2; column-gap:2em;column-width: 570px;
   column-rule-style:dotted; column-rule-width:1px; column-rule-color:silver;
	 background-color:red;
} */

footer  {
	background-color:black;
	height:40px;
	position:fixed;
	width:100%;
	bottom:0px;
	text-align:center;

}
body:after{
	content:"";
	height:40px;
	clear:both;
	display:block;
}

footer a{
	color:white;
	font-size:22px;
	padding-left:50px;
	
	font-family:verdana;
	
}

.design-selection{
	xbackground-color:yellow;
	float:left;
	margin-left:250px;
	height:200px;
}	
.select{
	color:black;
	font-family:verdana;
	font-size:20px;
}
.zen-resources,
.design-archives{

	width:30%;
	padding-left:60%;
}

.design-selection:after,
.design-archives:after,
.zen-resources:after{
	content:"";
	display:block;
	height:1px;

}
nav a{
	font-size:23px;
	font-family:verdana;;
}






