section{
	background-color:pink;
	border:4px solid black;
	overflow:hidden;
	height:100%;
}

header {
	background-color:lightblue;
	background-image:url(../bilder/pic05.jpg);
	margin:0;
	padding:1px 0px 417px 0;
}

.page-wrapper{
	width:100%;
	background-color:green;
	
}

#zen-summary:before {content:url(../bilder/schalplatte1.png);

position:relative;
right:200px;
top:0px;
overflow:visible;

	
}
 aside.sidebar{
  position:relative;
  background-color:yellow;
  width:200px;
  top:-1915px;
} 

section article{
	background-color:rgba(85, 107, 103, 0.2);
	width:30%
}




#zen-summary{
	float:right;
}

#zen-preamble{
	float:left;
}
#zen-supporting{
	
	background-color:red;
	
	overflow:auto;
	width:300px;
}