body{
  margin:0;
}

section{
	background-color:pink;
	border:4px solid black;
	overflow:hidden;
	height: 100%;
  top: 480px;
  position:relative;
  z-index:10;
}
section *{
  position:relative;
}

section.intro:after{
  content:"";
  clear:both;
}

header{
  position:fixed;
  top:0px;
}

header *{
  position:relative;
  z-index:3; /*größer als header before und größer als Header after*/
}

header:before {
	background-image: url(../bilder/pic05.jpg);
  content:"";
  background-repeat:no-repeat;
  background-size:cover;
	top: 0px;
  left: 0px;
  height: 480px;
  width: 100%;
  position: fixed;
  z-index:1;

}

header:after{
  background-image:url(../bilder/schallplatte.png);/*breite500px höhe 484px*/
  width:500px;
  height:484px;
  position: fixed; 
  content:"";
  left:50%;
  top: 242px;    /*anzeigehöhe header background image(pic05.jpg 480-die halbe Bildgröße dieses Bildes ( Schallplatte.png)*/
  margin-left: -250px; /*halbe Bildbreite*/
  z-index:1;


 
}

.page-wrapper{
	width: 100%;
	background-color: yellow;
	
}

#zen-intro{
  position:relative;
  z-index:50;
  width:100%;

}

aside.sidebar{
  position: relative;
  background-color: yellow;
  width: 200px;
  top: 480px;
} 

section article{
	background-color:rgba(85, 107, 103, 0.8);
	width:30%;
}
h1{
  font-size:70px;
  color:red;
  left:100% 
}


#zen-summary{
  float:right;
}
#zen-requirements{
  clear:right;
  background-color:red;
  width:400px;
}
h3{
  margin:0px;
}
#zen-supporting{
  top: 480px;
  position:relative;
  background-color:red;
  overflow:auto;
  background-color:rgba(255, 255, 255, 0.8);
  z-index:90;
} 
 #zen-explanation{

   width:40%;
   color:red;
   float:right;
    
  }
  
}




