section {
	background-color: inherit;
	height: auto;
	border-bottom:0;
}

section article {
	width: 90%;
}

header {
	border-bottom:4px solid black;
	height: 500px;
}

header:after {
	background-image:none;
}

.summary {
	top:350px;
}

.preamble {
	background-color:rgba(255, 255, 255, 0.8);
	position:static;
	top:0;
	width:auto;
}

#zen-explanation {
	width:100%;
	position:static;
}

/* Problem: Überschrift wird abgeschnitten */
article#zen-participation h3 {
}

article#zen-benefits p {
	width:70%;
}

.benefits:before {
	content: none;
}

#zen-requirements {
	width:100%;
	background-image:none;
	background-color:white;
	position:static;
}

#zen-requirements:before {
	content: none;
}

footer a {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
